[submodule "backend"]
	path = backend
	url = https://github.com/aringadre76/bingeflix-backend.git
[submodule "frontend"]
  	path = frontend
  	url = https://github.com/aringadre76/bingeflix-frontend.git
